serverless.yml
org: amirykehara
service: cliente-ms

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 256
  timeout: 30
  environment:
    CUSTOMERS_TABLE: CustomersTable
    ORDERS_TABLE: OrdersTable
    STEPS_TABLE: StepsTable
    EVENT_BUS_NAME: pf-pardos-bus
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:GetItem
            - dynamodb:Query
            - dynamodb:Scan
          Resource:
            - arn:aws:dynamodb:#{AWS::Region}:#{AWS::AccountId}:table/CustomersTable
            - arn:aws:dynamodb:#{AWS::Region}:#{AWS::AccountId}:table/OrdersTable
            - arn:aws:dynamodb:#{AWS::Region}:#{AWS::AccountId}:table/StepsTable
        - Effect: Allow
          Action:
            - events:PutEvents
          Resource: "*"
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource:
            - "*"  # StartExecution será restringido por recurso si lo deseas

functions:
  # ---------- Cliente MS existing endpoints ----------
  createOrder:
    handler: handler.create_order
    events:
      - httpApi:
          path: /orders
          method: post
  getOrdersByCustomer:
    handler: handler.get_orders_by_customer
    events:
      - httpApi:
          path: /orders/{customerId}
          method: get
  createCustomer:
    handler: handler.create_customer
    events:
      - httpApi:
          path: /customers
          method: post
  getCustomer:
    handler: handler.get_customer
    events:
      - httpApi:
          path: /customers/{customerId}
          method: get

  # ---------- Orchestrator Lambdas (Step Function tasks) ----------
  taskCooking:
    handler: orchestrator_handlers.task_cooking
    memorySize: 256
    timeout: 30
  taskPackaging:
    handler: orchestrator_handlers.task_packaging
    memorySize: 256
    timeout: 30
  taskDelivery:
    handler: orchestrator_handlers.task_delivery
    memorySize: 256
    timeout: 30

resources:
  Resources:

    # EventBus (custom)
    PardosEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: pf-pardos-bus

    # DynamoDB: CustomersTable
    CustomersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CustomersTable
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    # DynamoDB: OrdersTable
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: OrdersTable
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # DynamoDB: StepsTable
    StepsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: StepsTable
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # Role para EventBridge poder iniciar Step Function (target role)
    EventBridgeStepRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: pf-pardos-eventbridge-step-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service: events.amazonaws.com
              Action: sts:AssumeRole
        Path: /
        Policies:
          - PolicyName: AllowStartExecution
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - states:StartExecution
                  Resource: "*"  # puedes restringir a la máquina de estados concreta

    # State Machine (Step Functions) - invoca las 3 Lambdas definidas arriba secuencialmente
    PardosOrderStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: PardosOrderStateMachine
        RoleArn: !GetAtt StepFunctionExecutionRole.Arn
        DefinitionString:
          Fn::Sub: |
            {
              "Comment": "StateMachine for Pardos order workflow",
              "StartAt": "Cooking",
              "States": {
                "Cooking": {
                  "Type": "Task",
                  "Resource": "${TaskCookingArn}",
                  "InputPath": "$",
                  "ResultPath": "$.cookingResult",
                  "Next": "Packaging"
                },
                "Packaging": {
                  "Type": "Task",
                  "Resource": "${TaskPackagingArn}",
                  "InputPath": "$",
                  "ResultPath": "$.packagingResult",
                  "Next": "Delivery"
                },
                "Delivery": {
                  "Type": "Task",
                  "Resource": "${TaskDeliveryArn}",
                  "InputPath": "$",
                  "ResultPath": "$.deliveryResult",
                  "End": true
                }
              }
            }
        # Reemplaza dinámicamente con ARNs de Lambda
        DefinitionSubstitutions:
          TaskCookingArn: !GetAtt TaskCookingLambda.Arn
          TaskPackagingArn: !GetAtt TaskPackagingLambda.Arn
          TaskDeliveryArn: !GetAtt TaskDeliveryLambda.Arn

    # Rol que usa Step Functions para ejecutar las Lambdas
    StepFunctionExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: pf-pardos-step-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - states.amazonaws.com
              Action: sts:AssumeRole
        Path: /
        Policies:
          - PolicyName: StepFunctionInvokeLambdaAndDDB
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                    - lambda:InvokeAsync
                  Resource: "*"
                - Effect: Allow
                  Action:
                    - dynamodb:PutItem
                    - dynamodb:UpdateItem
                    - dynamodb:GetItem
                    - dynamodb:Query
                    - dynamodb:Scan
                  Resource:
                    - arn:aws:dynamodb:#{AWS::Region}:#{AWS::AccountId}:table/OrdersTable
                    - arn:aws:dynamodb:#{AWS::Region}:#{AWS::AccountId}:table/StepsTable
                - Effect: Allow
                  Action:
                    - events:PutEvents
                  Resource: "*"

    # EventBridge Rule: cuando haya un OrderCreated -> start Step Function
    OrderCreatedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: PardosOrderCreatedRule
        EventBusName: !Ref PardosEventBus
        EventPattern:
          source:
            - "pf.pardosserverless"
          detail-type:
            - "OrderCreated"
        Targets:
          - Id: StartPardosStateMachine
            Arn: !Ref PardosOrderStateMachine
            RoleArn: !GetAtt EventBridgeStepRole.Arn
            InputTransformer:
              InputPathsMap:
                orderId: $.detail.orderId
                detail: $.detail
              InputTemplate: '{"orderId": <orderId>, "input": <detail>}'


  Outputs:
    EventBusName:
      Value: !Ref PardosEventBus
      Export:
        Name: PardosEventBusName

# NOTE: Serverless framework creates lambdas with logical names; algunas referencias
# a los ARNs en la state machine usan GetAtt a recursos lógicos que Serverless crea.
# Si encuentras errores CloudFormation en esos GetAtt, revisa los nombres lógicos generados
# (TaskCookingLambda, TaskPackagingLambda, TaskDeliveryLambda) o usa el plugin stepfunctions.
