serverless.yml
service: cliente-ms
#frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  lambdaHashingVersion: 20201221
  environment:
    DYNAMODB_TABLE_CUSTOMER: ${self:service}-customer-${self:provider.stage}
    DYNAMODB_TABLE_ORDER: ${self:service}-order-${self:provider.stage}

functions:
  createCustomer:
    handler: handler.create_customer
    timeout: 30
    events:
      - httpApi:
          path: /customer
          method: post

  getCustomer:
    handler: handler.get_customer
    timeout: 30
    events:
      - httpApi:
          path: /customer/{id}
          method: get

  createOrder:
    handler: handler.create_order
    timeout: 30
    events:
      - httpApi:
          path: /order
          method: post

  getOrdersByCustomer:
    handler: handler.get_orders_by_customer
    timeout: 30
    events:
      - httpApi:
          path: /order/customer/{id}
          method: get

  # Lambdas usadas en Step Function
  taskCooking:
    handler: handler.task_cooking
  taskPackaging:
    handler: handler.task_packaging
  taskDelivery:
    handler: handler.task_delivery

resources:
  Resources:

    CustomerTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_CUSTOMER}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    OrderTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_ORDER}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    StepFunctionExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:service}-stepfn-role-${self:provider.stage}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - states.${self:provider.region}.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          - PolicyName: StepFunctionPolicy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource: "*"

    PardosOrderStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: PardosOrderStateMachine-${self:provider.stage}
        RoleArn: !GetAtt StepFunctionExecutionRole.Arn
        DefinitionString: !Sub |
          {
            "Comment": "StateMachine for Pardos order workflow",
            "StartAt": "Cooking",
            "States": {
              "Cooking": {
                "Type": "Task",
                "Resource": "${TaskCookingLambdaArn}",
                "InputPath": "$",
                "ResultPath": "$.cookingResult",
                "Next": "Packaging"
              },
              "Packaging": {
                "Type": "Task",
                "Resource": "${TaskPackagingLambdaArn}",
                "InputPath": "$",
                "ResultPath": "$.packagingResult",
                "Next": "Delivery"
              },
              "Delivery": {
                "Type": "Task",
                "Resource": "${TaskDeliveryLambdaArn}",
                "InputPath": "$",
                "ResultPath": "$.deliveryResult",
                "End": true
              }
            }
          }
        DefinitionSubstitutions:
          TaskCookingLambdaArn: !GetAtt taskCooking.Arn
          TaskPackagingLambdaArn: !GetAtt taskPackaging.Arn
          TaskDeliveryLambdaArn: !GetAtt taskDelivery.Arn

#plugins:
  #- serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
